body, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: #332d53;
    margin: 0;
}

.logo{
    width: 9vw;
}

.menu ul{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    background-color: #fbec2d;
    display: inline-block;
    
}